<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout :: head}">
<head th:replace="~{layout/layout :: head}">
 <meta charset="utf-8">
<title>Softamon</title>

</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	<div class="container-fluid" layout:fragment="page-content">
		<br><br><br><br><br><br>
		<h1 class="mt-4"><strong>Descripcion</strong></h1>
				<p><strong>Softamon Solutions es una empresa vanguardista en el mundo de la tecnología, ubicada en el corazón de Innovación
					Valley. Desde su fundación en 2015, Softamon ha marcado el rumbo en el desarrollo de soluciones tecnológicas
					creativas e inteligentes.</p>
				<p><strong>
					<p><strong>
					Misión:
				</p>
				</strong></p>
				
					En Softamon Solutions, nuestra misión es ser el puente entre las ideas innovadoras y su realización tecnológica. Nos
					esforzamos por empoderar a las empresas y emprendedores para que
					alcancen su máximo potencial a través de soluciones digitales eficientes y centradas en el
					usuario.
				</p>
	</div>
	
	

</body>
</html>